@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
$pink-color: rgba(236,76,138, 1);
$dark-pink: #B03868;

html {
  font-size: 62.5%;
  max-width: 390px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: $pink-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;

  a {
    color: white;
    text-decoration: none;
  }

  .branding {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      height: 3vh;
      max-height: 400px;
      width: auto;
    }

    * {
      margin: 0 5px;
    }
  }

}

main {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 40vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(236,76,138, 1)), url('https://www.nps.gov/common/uploads/structured_data/3C83C0FF-1DD8-B71B-0B85BBD2186E9F44.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  .web-title {
    font-family: 'Roboto', sans-serif;
    margin: 1vh;
  }

  .totalparks,
  .totalactivities {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 1vh;
    font-size: 1.2rem;

    .stats {
      font-size: 3rem;
    }
  }
}

.filter-name {
  background-color: $pink-color;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  height: 35px;


}

.search-bar {
  width: 80%;
  padding: 10px;
  border: none;
}

.states-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2px;
  background-color: $dark-pink;
  padding: 2px 0;

  .state-card {
    text-align: center;
    color: white;
    background-color: $pink-color;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-stats {
      display: flex;
      justify-content: center;

      .stat {
        margin: 1vh;
      }
    }
  }
}